commands:
  000001_envvars_to_bash_source_file:
    command: |
      # source our elastic beanstalk environment variables
      /opt/elasticbeanstalk/bin/get-config --output YAML environment|perl -ne "/^\w/ or next; s/: /=/; print qq|\$_|" > /var/tmp/envvars
      chmod 400 /var/tmp/envvars

files:
 "/opt/elasticbeanstalk/hooks/appdeploy/enact/change_hostname.sh":
  mode: "000755"
  owner: root
  group: root
  content: |
   #!/bin/bash

   source /var/tmp/envvars
   RESULT=`hostname`

   if echo "$RESULT" | egrep $HOST >/dev/null
   then
   	  echo ""
   else
      hostname $HOST-$RESULT
   fi

container_commands:
 change_hostname:
  command: "/opt/elasticbeanstalk/hooks/appdeploy/enact/change_hostname.sh"