files:
 "/opt/elasticbeanstalk/hooks/appdeploy/enact/watchdog.sh":
  mode: "000755"
  owner: root
  group: root
  content: |
   #!/bin/bash
   
   pid_list=`pgrep -f "phantomjs"`
   max_time=90

   for pid in $pid_list
   do
     now=$(date +%s)
     start=$(stat -c %Y /proc/"$pid")
     time=$((now-start))

     # get minutes from time
     #min=${time[1]}
     echo "Process $pid has been running for $time seconds"

     # if proces runs for more than max_time, kill it
     if [ $time -gt $max_time ]; then
          kill -9 $pid
     fi
   done