<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- This appender must only go to production. 
	We don't want logs generated locally to go to syslog -->

	<!-- <appender name="SYSLOG"
		class="ch.qos.logback.classic.net.SyslogAppender">
		<syslogHost>10.1.253.89</syslogHost>
		<port>514</port>
		<facility>USER</facility>
		<suffixPattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ", ${logback.timezone:UTC}}[%-5level][WEBCRAWLER]: [MSG]%msg%n</suffixPattern>
		<filter class="br.com.lett.crawlernode.util.CustomLevelFilter"> </filter>
	</appender> -->

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<filter class="br.com.lett.crawlernode.util.CustomLevelFilter"> </filter>
		<encoder>
			<pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSZ", ${logback.timezone:UTC}}[%-5level][WEBCRAWLER]: [MSG]%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="br.com.lett" level="TRACE">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="SYSLOG" /> -->
	</logger>
	<logger name="managers.SupervisedPgSQL" level="TRACE">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="SYSLOG" /> -->
	</logger>

	<!-- Strictly speaking, the level attribute is not necessary since -->
	<!-- the level of the root level is set to DEBUG by default. -->
	<root level="OFF">
	</root>

</configuration>
